---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Aside from "../components/Aside.astro";
---

<Layout title="Hub Resouerces">
  <NavBar />
  <div class="main-container">
    <Aside />
    <main class="main-content">
      <!-- Contenido principal -->
    </main>
  </div>
</Layout>

<style>
  .main-container {
    display: flex;
    margin-top: 60px; /* Ajustar según la altura del navbar */
  }

  .main-content {
    margin-left: 250px; /* Ajustar según el ancho del aside */
    padding: 1rem;
    width: calc(100% - 250px);
    height: calc(100vh - 60px); /* Ajustar la altura disponible */
    overflow-y: auto;
  }
</style>
